<footer>
      <div class="follow_us">
            Follow us:
            <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="../Images/footer/Instagram.png" alt=""></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="../Images/footer/Facebook.png" alt=""></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><img src="../Images/footer/Twitter.png" alt=""></a>
      </div>
      <div class="contact_us">
            Contact us:
            <a href="tel:+612345678"><img src="../Images/footer/Whatsapp.png" alt=""></a>
            <a href="mailto: sacli.menderes01@gmail.com"><img src="../Images/footer/Gmail.png" alt=""></a>
      </div>
</footer>