<footer>
      <div class="follow_us">
            Follow us:
            <a href="https://www.instagram.com/" target="_blank"><img src="../Images/Instagram.png" alt=""></a>
            <a href=""><img src="../Images/Facebook.png" alt=""></a>
            <a href=""><img src="../Images/Twitter.png" alt=""></a>
      </div>
      <div class="contact_us">
            Contact us:
            <a href="https://wa.me/15551234567?text=I'm%20interested%20in%20your%20car%20for%20sale"><img src="../Images/Whatsapp.png" alt=""></a>
            <a href=""><img src="../Images/Gmail.png" alt=""></a>
      </div>
</footer>