.nav_ul_items{
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 10fr 1fr 1fr;
      padding-inline-start: 0px;
      align-items: center;
      justify-items: center;
}

nav img{
      height: 50px;
      width: 50px;
}


/* Login page styles */
.login-container{
      display: block;
      text-align: center;
      border-style: groove;
      margin-left: 20%;
      margin-right: 20%;
      
}

.login-btn{
      padding: 14px 40px;
}

.form-group{
      margin: 1%;
      width: 50%;
      display: inline-block;
}
